body {
    padding: 10px;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    width: 100%;
    color: white;
    background: black;
    padding: 5px 30px;
}

/*h1 {
    font-size: 3em;
}*/

input {
    opacity: 0;
}

label {
    padding: 20px 30px;
    background: silver;
    cursor: pointer;
    color: black;
    display: inline-block;
    font-size: 1.2em;
}

input:checked + label {
    color: white;
    background: teal;
}

input:not(:checked) + label {
    color: black;
    background: silver;
    text-decoration: underline;
}

#regions {
    white-space: nowrap;
}

#next {
    padding: 20px 40px;
    background: teal;
    color: white;
    font-weight: bold;
    line-height: 0.8;
}

table {
    width: 100%; 
    /*color: #333;*/
    border-collapse: 
    collapse; border-spacing: 0; 
}

td {  
    border-bottom: 1px solid;
    padding: 10px;
}

