body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    margin: 16px;
}

#header {
    width: 100%;
    color: white;
    background: #28559A;
    padding: 5px 30px;
    border-bottom-width: 8px;
    border-bottom-color: black;
    border-bottom-style: solid;
}

#title {
    font-size: 2em;
    display: inline-block;
    padding: 8px;
}

#date {
    font-size: 3em;
}

input {
    opacity: 0;
}

label {
    padding: 20px 30px;
    background: #CAE7DF;
    cursor: pointer;
    color: black;
    display: inline-block;
    font-size: 1.2em;
}

input:checked + label {
    color: white;
    background: #3778C2;
}

input:not(:checked) + label {
    color: black;
    background: #CAE7DF;
    text-decoration: underline;
}

#regions {
    white-space: nowrap;
}

#next {
    padding: 20px 40px;
    background: #3778C2;
    color: white;
    font-weight: bold;
    line-height: 0.8;
}

table {
    width: 100%; 
    /*color: #333;*/
    border-collapse: 
    collapse; border-spacing: 0; 
}

td {  
    border-bottom: 1px solid;
    padding: 10px;
}

